* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.top-bar {
    border-bottom: solid 1px #cddce7 !important;
    background-color: #f2f2f2;
    height: 55px;
    padding: 10px 15px;
    position: relative;
    text-align: right;
    .btn {
        margin-left: 10px;
        margin-top: -12px;
    }
}

.btn {
    border: 0;
    outline: none;
    vertical-align: middle;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    //margin-top: 4px;
    font-size: 14px;
    transition: background-color 300ms ease-out;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &.btn-primary {
        background-color: #008CBA;
        border-color: #007092;
        color: #fff;
        &:hover {
            background-color: #0070A2;
            border-color: #007095;
        }
    }
    &.btn-success {
        background-color: #43AC6A;
        border-color: #368a55;
        color: #FFFFFF;
        &:hover {
            background-color: #368a55;
            border-color: #368a55;
        }
    }
    &.btn-info {
        background-color: #008CBA;
        border-color: #007095;
        color: #fff;
        &:hover {
            background-color: #008CBA;
            border-color: #007095;
        }
    }
    &.btn-remove {
        background-color: #f04124;
        border-color: #cf2a0e;
        color: #fff;
        &:hover {
            background-color: #cf2a0e;
            border-color: #cf2a0e;
        }
    }
    &.btn-cancel {
        background-color: #e7e7e7;
        border-color: #b9b9b9;
        color: #333333;
        &:hover {
            background-color: #b9b9b9;
            border-color: #b9b9b9;
        }
    }
}

table {
    width: 96%;
    margin-left: 2%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 1px;
    background: #fff;
    border: solid 1px #ddd;
    table-layout: auto;
    margin-top: 20px;
    box-sizing: border-box;
    thead {
        background: #F5F5F5;
        height: 32px;
        line-height: 32px;
        th {
            padding: 0.825rem
        }
    }
    th, td {
        color: #222222;
        font-size: 0.825rem;
        font-weight: 700;
        padding: 0.5rem;
        display: table-cell;
        line-height: 1rem;
    }
    td {
        font-weight: 400;
        border-bottom: 1px solid #eee;
    }
    .opt {
        width: 180px;
    }
    .btn {
        font-size: 0.75rem;
        margin: 0 5px;
    }
    tr:last-child {
        td {
            border-bottom: 0;
        }
    }
}

.form-wrap {
    text-align: center;
    font-size: 0.75rem;
    label {
        margin-right: 8px;
        display: inline-block;
        vertical-align: middle;
    }
    .ipt {
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius: 0;
        background-color: #FFF;
        border-style: solid;
        border-width: 1px;
        border-color: #cccccc;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.75);
        display: inline-block;
        font-family: inherit;
        font-size: 0.75rem;
        height: 2rem;
        margin: 0 0 0.9rem 0;
        padding: 0.5rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: border-color 0.15s linear, background 0.15s linear;
        transition: border-color 0.15s linear, background 0.15s linear;
        width: 120px;
    }
}

.tip {
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 1000;
    display: none;
    width: 100%;
    text-align: center;
    span {
        display: inline-block;
        padding: 5px 20px;
        text-align: center;
        background-color: rgba(0, 0, 0, .9);
        color: #fff;
        font-size: 0.825rem;
        border-radius: 5px;
    }
}

.dialog{
    display: none;
    &:before {
        content: ' ';
        position: fixed;
        z-index: 1;
        background-color: rgba(0, 0, 0, .4);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    &.show{
        .form-wrap{
            height: 250px;
            .show-pass{
                padding-bottom: 10px;
            }
        }
    }
    .form-wrap {
        position: absolute;
        width: 400px;
        height: 400px;
        left: 50%;
        border-radius: 5px;
        top: 50%;
        margin: -200px auto auto -200px;
        background-color: #fff;
        z-index: 100;
        .ipt-wrap {
            padding: 20px;
        }
        label {
            display: block;
            text-align: left;
        }
        input {
            display: block;
            width: 100%;
        }
        h2 {
            height: 42px;
            background-color: #444;
            color: #fff;
            line-height: 42px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

        }
        .btn{
            margin-bottom: 10px;
        }
    }
}